/* Title Section */
.title {
  font-size: 23px;
  font-weight: 200;
  padding: 20px 0px 0px 0px;
}

/* Weather Container Styles */
.weather {
  width: 400px;
  border-radius: 15px;
  color: black;
  background-color: lightgrey;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

/* Warm Weather Styles */
.weather.warm {
  width: 300px;
  border-radius: 15px;
  color: black;
  background-color: rgb(243, 72, 72);
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

/* Cold Weather Styles */
.weather.cold {
  width: 300px;
  border-radius: 15px;
  color: black;
  background-color: lightblue;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

/* Top and Bottom Sections */
.top,
.bottom {
  justify-content: space-between;
  align-items: center;
}

/* Weather Description Styles */
.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: rgb(83, 82, 82);
  text-align: center;
}

/* Temperature Styles */
.temperature {
  font-weight: 400;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
  color: black;
  text-align: center;
}

/* Details Section Styles */
.details {
  width: 100%;
  padding-left: 20px;
}

/* Parameter Row Styles */
.parameter-row {
  display: flex;
  justify-content: space-between;
}

/* Parameter Label Styles */
.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

/* Parameter Value Styles */
.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}
